[submodule "gradio_dashboard"]
	path = gradio_dashboard
	url = https://huggingface.co/spaces/Santarabantoosoo/Sentiments_topic_modeling_ITALIAN
[submodule "gradio_dashboard_draft"]
	path = gradio_dashboard_draft
	url = https://huggingface.co/spaces/elena-k/OmdenaTriesteLongCovid
